:host {
  div.bike-marker {
    width: 30px;
    height: 40px;
    position: relative;
    top: -20px;

    &.empty {
      background-image: url('/assets/park.svg') !important;
    }

    &.little {
      background-image: url('/assets/little.svg');
    }

    &.medium {
      background-image: url('/assets/medium.svg');
    }

    &.half {
      background-image: url('/assets/half.svg');
    }

    &.full {
      background-image: url('/assets/full.svg') !important;
    }
  }
}
