<span class="journey-planner-container">
  <div class="header">
    <button mat-button class="cancel-button" (click)="closePlanner()">
      Cancel
    </button>
  </div>
  <div class="from-search search-field-wrapper">
    <button mat-icon-button class="loc-icon" [disableRipple]="true" [ngClass]="{'active': appState === 'From Input'}">
      <mat-icon>location_on</mat-icon>
    </button>
    <span class="field-pills-wrapper">
      <mat-form-field class="map-search-box pill-input" floatLabel="never">
        <input matInput placeholder="Where from?" type="text" [formControl]="fromField" (focus)="fromFieldOnFocus()">
      </mat-form-field>
    </span>
  </div>
  <mat-icon class="direction-connector">more_vert</mat-icon>
  <div class="to-search search-field-wrapper">
    <button mat-icon-button class="loc-icon" [disableRipple]="true" [ngClass]="{'active': appState === 'To Input'}">
      <mat-icon>location_on</mat-icon>
    </button>
    <span class="field-pills-wrapper">
      <mat-form-field class="map-search-box pill-input" floatLabel="never">
        <input matInput placeholder="Where to?" type="text" [formControl]="toField" (focus)="toFieldOnFocus()">
      </mat-form-field>
    </span>
  </div>
  <!-- Place search result -->
  <!-- Bikepoints search result -->
  <!-- Confirm Journey-->
  <app-confirm-journey *ngIf="appState === 'Confirm Journey'"></app-confirm-journey>
</span>
