<ngui-map [center]="mapCenter"
  [mapTypeControl]="false"
  [fullscreenControl]="false"
  [streetViewControl]="false"
  geoFallbackCenter="51.476892649684764, 0"
  (mapClick)="onMapClick($event)"
  (mapDragend)="onMapDragend($event)"
  (center_changed)="onCenterChanged($event)"
  (bounds_changed)="onBoundsChanged($event)">
  <div class="bikepointsMarkers">
    <!-- <marker *ngFor="let bikepoint of (bikepoints$ | async)"
      [position]="bikepoint"
      (mouseover)="onBikepointMarkerOver($event, bikepoint)"
      (click)="onBikepointMarkerClick($event, bikepoint)"></marker> -->
    <custom-marker *ngFor="let bikepoint of (bikepoints$ | async); let i = index"
      [position]="[bikepoint.lat, bikepoint.lng]"
      (initialized$)="onBikepointMarkerInit($event, i)"
      (mouseenter)="onBikepointCustomMarkerOver(bikepoint, i)"
      (click)="onBikepointMarkerClick($event, bikepoint)">
      <app-bikepoint-marker [bikepoint]="bikepoint"></app-bikepoint-marker>
    </custom-marker>
  </div>
  <div class="routerMarkers">
    <marker *ngIf="fromLoc" [position]="fromLoc"></marker>
    <marker *ngIf="toLoc" [position]="toLoc"></marker>
  </div>
  <info-window [id]="infoWindowId" [pixelOffset]="infoWindowOffset">
    <app-bikepoint-info [info]="bikepointInfoWindow$ | async"></app-bikepoint-info>
  </info-window>
</ngui-map>
