span.search-container {
  display: inline-flex;
  flex-direction: column;
  pointer-events: auto;
  vertical-align: middle;
  padding-top: 60px;

  @media (max-width: 599px) {
    padding-top: 32px;
  }

  div.search-field-wrapper {
    margin-left: 32px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 599px) {
      margin-left: 16px;
    }

    span.field-pills-wrapper {
      margin-left: 16px;
      background-color: rgba(255,255,255,0.8);
      padding: 0px 6px 0px 24px;
      border-radius: 36px;

      mat-form-field.map-search-box {
        width: 240px;
        max-width: calc(100vw - 136px);
      }

      button.plan-journey {
        position: relative;
        top: -1px;
        left: 1px;
        color: rgb(64,64,64);
      }
    }
  }
}
