span.journey-planner-container {
  display: inline-flex;
  flex-direction: column;
  pointer-events: auto;
  vertical-align: middle;
  background-color: rgb(252,252,252);
  min-width: 380px;

  @media (max-width: 599px) {
    width: 100vw;
    max-width: 100vw;
  }

  div.planner-wrapper {
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;

    div.header {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      height: 47px;

      span.filler {
        width: 306px;
      }

      button.cancel-button {
        margin-right: 14px;
        font-size: 12px;
        height: 24px;
        line-height: 24px;
        min-width: 60px;
        width: 60px;
        padding: 0px;
      }
    }
    mat-icon.direction-connector {
      color: rgb(64,64,64);
      position: relative;
      height: 24px;
      left: -32px;
      top: 28px;
    }

    div.search-field-wrapper {
      margin-left: 32px;
      margin-bottom: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;

      button.loc-icon {
        position: relative;
        top: -2px;
      }

      span.field-pills-wrapper {
        margin-left: 15px;
        margin-right: 15px;
        border: 1px solid rgb(241, 244, 247);
        background-color: rgb(241, 244, 247);
        padding: 0px 6px 0px 24px;
        border-radius: 36px;

        mat-form-field.map-search-box {
          width: 224px;
        }
      }

      &.from-search {
        span.field-pills-wrapper.active {
          border: 1px solid #e63329;
        }

        button.loc-icon {
          color: #e63329;
        }
      }

      &.to-search {
        margin-bottom: 32px;

        span.field-pills-wrapper.active {
          border: 1px solid #1dacbd;
        }

        button.loc-icon {
          color: #1dacbd;
        }
      }
    }
  }

  div.search-results-wrapper {
    max-height: calc(100vh - 186px);
    overflow-y: scroll;
  }

  @media (min-width: 600px) {
    &.confirm-state {
      border-bottom-right-radius: 24px;
      overflow: hidden;
    }
  }
}
