:host {
  pointer-events: none;
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(18, 5, 58, 1), rgba(0,0,0,0) 200px);

  // section.wrapper {
  //   :last-child {
  //     border-bottom-right-radius: 12px;
  //   }
  // }
}
