<div>
  <app-current-location></app-current-location>
  <ngui-map [center]="mapCenter$ | async"
    [zoom]="mapZoom$ | async"
    [zoomControlOptions]="{position: 'RIGHT_CENTER'}"
    [mapTypeControl]="false"
    [fullscreenControl]="false"
    [streetViewControl]="false"
    geoFallbackCenter="51.476892649684764, 0"
    (bounds_changed)="onBoundsChanged($event)">
    <!-- <marker *ngFor="let bikepoint of (bikepoints$ | async)" [position]="[bikepoint.lat, bikepoint.lng]"
      (mouseover)="onBikepointMarkerOver($event, bikepoint)"
      (click)="onBikepointMarkerClick($event, bikepoint)"></marker> -->
    <custom-marker *ngFor="let bikepoint of (bikepoints$ | async); let i = index"
      [position]="[bikepoint.lat, bikepoint.lng]"
      (initialized$)="onBikepointMarkerInit($event, i)"
      (mouseenter)="onBikepointCustomMarkerOver(bikepoint, i)"
      (click)="onBikepointMarkerClick($event, bikepoint)">
      <app-bikepoint-marker [bikepoint]="bikepoint"></app-bikepoint-marker>
    </custom-marker>
    <!-- There seems to be bug in the map component which marker with *ngIf will not render properly -->
    <marker *ngFor="let fromLocation of fromLoc" [position]="fromLocation"
      [icon]="{ 'anchor': [15, 40], 'size': [30, 40], 'scaledSize': [30, 40] , 'url': '/assets/full.svg'}"></marker>
    <marker *ngFor="let toLocation of toLoc" [position]="toLocation"
      [icon]="{ 'anchor': [15, 40], 'size': [30, 40], 'scaledSize': [30, 40] , 'url': '/assets/park.svg'}"></marker>
    <div *ngIf="appState === 'Confirm Journey' || appState === 'In Journey'">
      <polyline *ngIf="journey$ | async; let journey" [path]="journey?.path" [geodesic]="true" [editable]="false"
      [strokeColor]="'#FF0000'" [strokeOpacity]="1" [strokeWeight]="4"></polyline>
    </div>
    <info-window [id]="infoWindowId" [pixelOffset]="infoWindowOffset">
      <app-bikepoint-info [info]="bikepointInfoWindow$ | async"></app-bikepoint-info>
    </info-window>
  </ngui-map>
</div>
