/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
}

body {
 margin: 0;
}

mat-form-field.pill-input {
  margin: 7px 0px 6px;

  div.mat-form-field-underline {
    display: none;
  }

  div.mat-form-field-wrapper {
    padding-bottom: 0px;
  }

  div.mat-form-field-infix {
    border-top: 0px;
  }
}
